.case1{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}
.case1:hover{
    width: 300px;
}
.case2{
    width: 100px;
    height: 100px;
    background: blue;
    transform: translate(50px,100px);
    transform: rotate(45deg);
    transform: scale(0.5, 0.2);
    transform: skew(30deg, 5deg);
}
.case3{
    width: 100px;
    height: 100px;
    background-color: purple;
    animation-name: colorchange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes colorchange{
    0% {background-color: red;}
    50% {background-color: yellow;}
    100% {background-color: green;}
}