@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", sans-serif;
}
h1,h2,h3{
    color: rgb(3, 66, 138);
    text-align: center ;  
}
p{
    text-align: justify;
    hyphens: auto;
    font-size: 1.1em;
    line-height: 1.4em;
    max-width: 600px;
}
pre{
    background-color: #111;
    color: #999;
}
ul{
    list-style-type: circle;
}